@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.wrapper {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  width: 33%;
  min-width: 410px;
  min-width: none;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}
textarea {
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  resize: none;
}
.wrapper > h1 {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper .form {
  width: 100%;
}
.form .input_field {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.error {
  color: red;
  text-align: center;
}
.btn {
  display: flex;
  justify-content: center;
}
button {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin-top: 30px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #f1f1f1;
}
.close {
  position: fixed;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

