.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;


  }

  
  .box {
    display: flex;
    flex-direction: column;

  
    padding: 3em;
    border: 1px solid #42a0df;
    border-radius: 40px;
    backdrop-filter: blur(20px);
    

  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .price_input, .date_input {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
  
  }
  
  .price_input input, .date_input input {
    width: 45%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .price_input label, .date_input label {
    width: 10%;
    text-align: center;
  }
  h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
  
  }

  .filters{
    display: grid;
    grid-template-columns: repeat(auto-fit,100px);

    grid-gap: 30px;
    width: 380px;
    margin-bottom: 60px;
  }

  .filter{

    background-color: #ccc;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    text-align: center;
  }

  .wrap-filters{
      display: flex;
      justify-content: center;
  }
  .exitbtn{
    cursor: pointer;

  }

  @media (max-width:600px) { 
    .box{
      padding: 10px;
    }
  }