

.wrapper{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
p{
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
  
}


.rate {
   display: flex;
   cursor: pointer;
   
  }

  .average{
    margin-top: 2px;
    display: flex;
  }
