

<div class="wrapper">
  <div class="container">
    <div class="presentCompany">
      <h1>Najlepsze wycieczki w Polsce</h1>
    </div>
    <main>
      <img class="view_arrow" src="assets/img/view_arrow.png" alt="view_arrow" />
      <img class="dest" src="assets/img/dest.png" alt="dest" />
      <h1>Wspaniałe wycieczki</h1>
      <img src="assets/img/destination.png" alt="destination" />
      <div class="informationText">
        <h2>
          Nasza firma oferuje niezapomniane wycieczki, które pozwolą Ci poznać
          najpiękniejsze zakątki świata. Odwiedzimy zarówno znane, turystyczne
          miasta, jak i ukryte skarby naszego kraju, które zachwycą Cię swoją
          urodą i historią. Nasze wycieczki są doskonale zorganizowane i
          dostosowane do potrzeb naszych klientów. Możesz wybrać opcję z
          noclegami w luksusowych hotelach, a także wybrać wariant z wyżywieniem
          w formie obiadokolacji w lokalnych restauracjach, aby poznać prawdziwe
          smaki naszej kuchni. Nasz zespół profesjonalnych przewodników zapewni
          Ci nie tylko bezpieczeństwo podczas wycieczki, ale również dostarczy Ci
          mnóstwa ciekawostek i informacji o odwiedzanych miejscach. Nie czekaj
          dłużej i zarezerwuj jedną z naszych wycieczek już dziś! Z nami poznasz
          Polskę w zupełnie nowym wymiarze.
        </h2>
      </div>
      <h1>Gdzie możesz nas znaleźć?</h1>
      <div class="map">
        <div class="textAndArray">
        </div>
        <img class="mapImg" src="assets/img/mapa.png" alt="mapa" />
      </div>
    </main>
  </div>
</div>